/* Content copied from "checkout5-custom.css" at 2021-05-27T13:02:04.731Z */

/* Content copied from “checkout-custom.css” at 2017-12-20T18:01:52.552Z */

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* /files/checkout-custom.css */

li::marker {
  font-size: 0;
  display: none;
}

.btn-success {
  background-color: #0ca40c !important;
  background-image: none !important;
  border-radius: 0;
  font-family: "Oswald", sans-serife;
  text-transform: uppercase;
}

.container-cart {
  background: #fff;
  padding: 25px 50px;
  box-shadow: 0px 0px 5px #00000040;
  border-radius: 3px;
}

.container-cart h1#cart-title {
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 1200px) {
  @import "http://fonts.googleapis.com/css?family=Oswald:400,300";

  body {
    padding-top: 0px;
    background-color: #F1F1F1;
  }

  .container {
    width: 1366px;
  }

  .masthead {
    padding: 10px 5px 0;
  }

  .masthead h3 {
    font-size: 24.5px;
    margin: 10px 0;
  }

  .masthead h1,
  .masthead h2,
  .masthead h3 {
    line-height: 40px;
  }

  .masthead h1,
  .masthead h2,
  .masthead h3,
  .masthead h4,
  .masthead h5,
  .masthead h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }

  #footerCredits {
    background-color: #F5F5F5;
    padding: 60px 10px;
  }

  #footerCredits img {
    display: inline-block;
    margin-bottom: 40px;
  }

  h1.lead {
    margin-top: 0;
  }

  .valor-por {
    font-size: 36px;
    margin-top: 4px;
    display: block;
    line-height: 140%;
  }

  .descricao-preco {
    margin-top: 10px;
  }

  .buy-button {
    float: right;
    width: 30%;
    font-weight: bold;
  }

  nav {
    display: block;
  }

  .nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
  }

  .nav>li>a {
    display: block;
    font-size: 14px;
  }

  .nav>li>a:hover {
    text-decoration: none;
    background-color: #eeeeee;
  }

  .nav>li>a>img {
    max-width: none;
  }

  .nav>.pull-right {
    float: right;
  }

  .nav-tabs>li,
  .nav-pills>li {
    float: left;
  }

  .nav-tabs>li>a,
  .nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
  }

  .nav-pills>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .product-name .brand-name,
  .product-name .seller {
    display: none;
  }

  .steps-view {
    width: 422px;
  }

  .mini-cart {
    text-shadow: 0 1px 0px #fff;
    position: relative;
  }

  .mini-cart .summary-template-holder,
  .mini-cart h2 {
    background: #f7f7f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px dotted #eee;
    padding-top: 8px;
  }

  .mini-cart .cart-template-holder {
    background: #fff;
    border-right: 3px solid #F7F7F7;
    border-left: 3px solid #F7F7F7;
  }

  .mini-cart h2 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding: 4px 6px;
    text-align: right;
    color: #aaa;
    margin-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .mini-cart .cart {
    margin-bottom: 0;
    padding: 1px 3px 6px 5px;
  }

  .mini-cart .monetary,
  .mini-cart .quantity-price {
    text-align: right;
    white-space: nowrap;
  }

  .mini-cart .cart table tbody tr td.quantity-price {
    float: right;
    margin-right: 6px;
  }

  .mini-cart .info {
    text-align: right;
    width: 58%;
  }

  .mini-cart .info,
  .mini-cart .monetary {
    padding-top: 6px;
  }

  .mini-cart .table tfoot td {
    color: #468847;
    font-size: 13px;
    font-weight: bold;
    padding-top: 12px;
  }

  .mini-cart .product-item {
    padding-bottom: 6px;
  }

  .mini-cart .product-item .shipping-date,
  .mini-cart .product-item .quantity-price {
    font-size: 11px;
    padding: 10px 0 4px 0;
  }

  .mini-cart .totalizers {
    margin-bottom: 10px;
  }

  .mini-cart .link-cart {
    font-size: 11px;
    margin-top: 5px;
  }

  .locale {
    display: none;
  }
}

@media (max-width: 480px) {
  .copy-right .devs {
    width: 100%;
    text-align: center;
  }

  #header {
    background-color: #2982d4;
    color: #fff;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    margin-left: -10px;
  }

  #header button.back {
    background-color: transparent;
    border: none;
    float: left;
    margin: 10px;
    color: #fff;
    border: 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    padding: 0;
  }

  #header button.back .arrow {
    width: 17px;
    height: 23px;
    background-image: url('/arquivos/playkids-mobile-sprite.png');
    background-size: 320px auto;
    background-repeat: no-repeat;
    background-position: -177px -60px;
    float: left;
  }

  #header h1 {
    float: right;
    margin: 3px 0 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    width: 93px;
    height: 26px;
    color: #FFF;
  }
}

.quantity input {
  border-color: #B3D8EB;
  border-radius: 0;
}

.cart table thead {
  background: #007FAE;
  color: #fff;
}

.cart table thead th {
  font-weight: normal !important;
  font-size: 12px !important;
}

.cart table thead th.product {
  padding-left: 40px;
}

.cart table tbody td.product-image {
  padding-left: 30px;
}

tr.product-item {
  height: 95px;
  border-top: none;
}

tr.product-item:not(:last-child) {
  border-bottom: 1px solid rgb(112 112 112 / 0.14);
}

.step,
.cart,
.totalizers {
  border: none;
  border-radius: 0;
}

.cart table.table {
  box-shadow: 0px 3px 6px #00000012;
}

.totalizers {
  border: none !important
}

#cart-link-coupon-add,
#shipping-calculate-link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  background: #007FAE;
  border-radius: 20px;
  font-size: 13px;
}

#cart-link-coupon-add {
  padding: 10px 25px;
  text-transform: unset;
}

td.product-name a,
td span {
  color: #686868;
  font-family: "Open Sans";
  letter-spacing: 1px;
  font-weight: 600;
}

.full-cart .summary-totalizers tfoot .info,
.full-cart .summary-totalizers tfoot .monetary {
  text-align: right;
  color: #666;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase
}

#cart-to-orderform {
  background: #00C51C;
  padding: 11px 25px;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-top: -5px;
  box-shadow: 2px 2px 5px 0px #888888;
}

#cart-choose-more-products {
  background: #fff;
  color: #1989B9;
  padding: 11px 25px;
  border: 1px solid #1989B9;
  border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase;
  margin: 0;
}

/* footer */

footer.footer {
  margin-top: 15px;
  border-top: 3px solid #007FAE;
}

.footer-linha-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1250px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-linha-2 .box-pagamento>div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-linha-2 .box-pagamento img {
  width: 40px;
  height: 20px;
}

.footer-linha-2 .box-pagamento ul {
  display: flex;
  gap: 5px;
  margin: 0;
}

.footer-linha-2 .box-pagamento h5 {
  color: #000;
  font-size: 11px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-linha-2 .box-pagamento h6 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.footer-linha-2 .box-seguranca ul {
  display: flex;
  gap: 5px;
  margin: 0;
}

.footer-linha-2 .box-seguranca ul>li {
  display: block;
  align-self: center;
}

.footer-linha-2 .box-seguranca h5 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.footer-linha-2 .box-seguranca h6 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-linha-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1250px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-linha-3 p {
  font-size: 11px;
  color: #404040;
  opacity: 0.6;
  margin: 0;
  line-height: normal;
}

.footer-linha-3>div {
  display: flex;
  align-items: center;
}

.footer-linha-3 ul {
  display: flex;
  gap: 35px;
  margin: 0;
}

.footer-linha-3 ul>li {
  display: grid;
  gap: 3px;
}

.footer-linha-3 ul>li p {
  font-size: 7px;
}

.bg-white {
  background: #fff;
}

.cart-links-bottom {
  margin: 10px 0 30px
}

.row-fluid .full-cart.active {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 33.33333333%;
  }
}

@media (max-width: 600px) {
  #cart-choose-more-products {
    padding: 15px 0 5px;
  }

  #cart-to-orderform {
    margin-top: 10px
  }

  .col-xs-12 {
    width: 100%
  }

  .footer-bk-left,
  .footer {
    background-size: 28%
  }

  td.product-name a,
  td span,
  .full-cart .summary-totalizers .monetary,
  .full-cart .summary-totalizers .info,
  .full-cart .summary-totalizers tfoot .info,
  .full-cart .summary-totalizers tfoot .monetary {
    text-align: center !important;
  }

  .brand,
  .full-cart .cart table tbody tr td.product-name .seller {
    display: none
  }
}

.note {
  display: block;
}